:root {
  --header-first-color: #FFFFFF;
  --logo-color-header: #000000;
  --logo-color-footer: #FFFFFF;
  --accent-color: #2196F3;
  --current-color: #2196F3;
  --first-page-bg: #2F303A;
  --second-page-bg: #F5F4FA;
  --main-btn-bg: #2196F3;
  --main-text-color: #757575;
  --header-second-color: #212121;
  --card-bg-color: #ffffff;
  --button-bg: #F5F4FA;
  --first-text-color: #000000;
  --btn-order-active: #188CE8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

.current {
  color: var(--current-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.social__title {
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-right: 10px;
}

.social__title:last-child {
  margin-right: 0;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  fill: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  cursor: pointer;
  outline: none;
}

.social-links-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .social-links-title {
    margin-top: 0;
  }
}

.footer-social-icons {
  display: flex;
  justify-content: center;
}

.social__title {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-social-links:last-child {
  margin-right: 0;
}

.footer-icons-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  display: flex;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-link:hover, .footer-icons-link:focus {
  fill: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  cursor: pointer;
  outline: none;
}

.main__button {
  margin: 0 auto;
  display: block;
  text-align: center;
  min-width: 200px;
  height: 50px;
  background: var(--main-btn-bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--header-first-color);
  border: var(--first-page-bg);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main__button:hover, .main__button:focus {
  background: var(--btn-order-active);
  outline: none;
}

.footer__button {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  min-width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--first-page-bg);
  fill: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  outline: none;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__button:hover, .footer__button:focus {
  background: var(--btn-order-active);
  outline: none;
}

.btn-modal-send {
  margin: 0 auto;
  display: block;
  text-align: center;
  min-width: 200px;
  height: 50px;
  background: var(--main-btn-bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--header-first-color);
  border: var(--first-page-bg);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-send:hover, .btn-modal-send:focus {
  background: var(--btn-order-active);
  outline: none;
}

.logo-header {
  color: var(--logo-color-header);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__logo {
  display: flex;
  color: var(--logo-color-footer);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    justify-content: left;
  }
}

.accent {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.92, 0.21, 0.96, 0.26);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.15);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-second-color);
  margin-bottom: 12px;
}

.close-modal {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  right: 0;
  top: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-icon {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: inherit;
  background-color: inherit;
}

.close-modal:focus,
.close-modal:hover {
  fill: #2196F3;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-icon {
  position: absolute;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-text:focus {
  outline: none;
  border-color: var(--accent-color);
}

.confirmation-box {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 11px;
  padding-right: 11px;
}

.confirmation-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.contract-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.confirmation-title span {
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  background: #FFFFFF;
}

.check-icon {
  fill: transparent;
  align-items: center;
  justify-content: center;
}

.modal-check:checked + .confirmation-title span {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
  border-color: var(--accent-color);
  width: 15px;
  height: 15px;
}

.modal-check:checked + .confirmation-title .check-icon {
  fill: #ffffff;
  margin-left: 3px;
  margin-top: 4px;
  border: 0.2px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav__title {
  display: flex;
  margin-left: 93px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact__data {
  display: flex;
}

.contact__icon {
  align-items: center;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
  fill: currentColor;
}

.nav__menu:not(:last-child) {
  margin-right: 50px;
}

.contact__data:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-second-color);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 44px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  opacity: 1;
  transform: scaleX(1);
}

.nav__link {
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--main-btn-bg);
  outline: none;
  fill: var(--main-btn-bg);
}

.logo:focus {
  outline: none;
  text-decoration: inherit;
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  align-items: center;
}

.main-page {
  background-color: rgb(196, 196, 196);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_Main_Page.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .main-page {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main__article {
  max-width: 360px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .main__article {
    max-width: 696px;
  }
}

.main__article {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-first-color);
  font-size: 26px;
  line-height: 1.62;
}
@media screen and (min-width: 1200px) {
  .main__article {
    font-size: 44px;
    line-height: 1.36;
  }
}

.focus__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-second-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .focus__title {
    text-align: left;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.focus__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.focus__data {
  height: 251px;
}
@media screen and (min-width: 768px) {
  .focus__data {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .focus__data {
    width: calc((100% - 90px) / 4);
  }
}

.focus__icon {
  display: flex;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.feature-icon {
  align-items: center;
}

.focus__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 10px;
}

.about-us {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .about-us {
    display: block;
  }
}

.about__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-second-color);
}

.about__sample {
  display: flex;
  margin-top: 50px;
  position: relative;
}

.label-first {
  position: absolute;
  height: 70px;
  width: 370px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.label-second {
  position: absolute;
  height: 70px;
  width: 370px;
  bottom: 0;
  left: 370;
  background-color: rgba(47, 48, 58, 0.8);
}

.label-third {
  position: absolute;
  height: 70px;
  width: 370px;
  bottom: 0;
  left: 740;
  background-color: rgba(47, 48, 58, 0.8);
}

.label-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-first-color);
  margin-top: 27px;
}

.about__img:not(:last-child) {
  margin-right: 30px;
}

.about__img {
  width: 370px;
  height: 294px;
}

.our-team {
  background: var(--second-page-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--header-second-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .our-team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.our-team__details {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-data {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--card-bg-color);
}
@media screen and (min-width: 768px) {
  .team-data {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-data {
    width: calc((100% - 90px) / 4);
  }
}

.team-data__photo {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .team-data__photo {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team-data__photo {
    width: 270px;
    height: 260px;
  }
}

.team-data__title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-data__title__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-second-color);
}

.team-data__title__position {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-clients__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--header-second-color);
}
@media screen and (min-width: 1200px) {
  .our-clients__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.our-clients__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.our-clients__link {
  width: calc((100% - 30px) / 2);
  height: 92px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .our-clients__link {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .our-clients__link {
    width: calc((100% - 150px) / 6);
    margin-top: 50px;
  }
}

.our-clients__logo {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: rgb(175, 177, 184);
  background-color: transparent;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__logo:focus, .our-clients__logo:hover {
  border: 1px solid rgb(33, 150, 243);
  fill: #2196F3;
  border-radius: 4px;
  background-color: inherit;
  outline: none;
}

.our-clients__icon {
  fill: inherit;
  background-color: inherit;
}

.footer {
  background: var(--first-page-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__data {
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__data {
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }
}

@media screen and (min-width: 768px) {
  .footer_notepad {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer_notepad {
    margin-right: 93px;
    justify-content: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__block {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__block {
    margin-right: 70px;
    justify-content: left;
  }
}

.footer__address {
  margin-top: 20px;
}

.address {
  margin-left: auto;
}

.address__data {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-first-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}
.address__data:hover, .address__data:focus {
  outline: none;
  border: transparent;
  color: var(--accent-color);
}

.address__data:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
  outline: none;
}

.address__maps {
  color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__maps:hover, .address__maps:focus {
  color: var(--accent-color);
  outline: none;
}

.subscrible {
  text-align: center;
}

.subscrible__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer-input {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}
.footer-input:focus {
  border: 1px solid rgb(33, 150, 243);
}

.footer-modal-icon {
  vertical-align: middle;
}

/* ----------PORTFOLIO PAGE------------------ */
.portfolio-main-page {
  border-top: 1px solid #ECECEC;
  padding-top: 94px;
  padding-bottom: 94px;
}

/*--------------PORTGOLIO-BUTTONS-FILTER------------------ */
.btn-filter {
  background: #F5F4FA;
  border-radius: 4px;
  font-family: inherit;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  height: 38px;
  min-width: 73px;
  transition-property: background, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-filter:hover, .btn-filter:focus {
  background: var(--current-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--header-first-color);
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  padding: 6px 22px 6px 22px;
}

.portfolio-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-thumb:hover::before {
  content: "";
  opacity: 1;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  width: 370px;
}

.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-details {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--header-first-color);
}

.portfolio-sample:hover .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-sample-link:focus .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-sample-link {
  width: 370px;
  height: 404px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  display: block;
  transition-property: background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-sample-link:hover, .portfolio-sample-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  background: inherit;
  outline: none;
}

.portfolio-sample:nth-last-child(n+6) {
  margin-bottom: 30px;
}

.portfolio-img {
  width: 370px;
  height: 294px;
}

.portfolio-title {
  filter: initial;
  padding: 20px 24px 20px 24px;
}

.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  min-width: 322px;
  text-align: left;
}

.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}/*# sourceMappingURL=main.css.map */