@import "./utils/vars";
@import "./utils/hidden";
@import "./utils/mixins";

@import "./base/reset";
@import "./base/common";

@import "./components/container";
@import "./components/social";
@import "./components/btn";
@import "./components/logo";
@import "./components/modal";

@import "./layout/header";
@import "./layout/main-page";
@import "./layout/focus";
@import "./layout/about";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio-main";
@import "./layout/portfolio-sample";



