.focus__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-second-color);
    text-align: center;
    @media screen and (min-width: 768px) {
    text-align: left;
    }
}

.features {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;  
    }
   
}

.focus__list {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
 
}

.focus__data {
    // width: 270px;
    height: 251px;
    @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    }
}

// .focus__data:not(:last-child) {
//     // margin-right: 30px;
// }

.focus__icon {
    display: flex;
    // width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.feature-icon {
    align-items: center;
}



.focus__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-top: 10px;
   
    
}