.main-page {
    background-color: rgba(196, 196, 196, 1);
    ;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/mobile/Header-img-mobile-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    padding-top: 118px;
    padding-bottom: 118px;
    @include retina {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),
    rgba(25, 28, 38, 0.2)),
    url(../images/mobile/Header-img-mobile-2.jpg);
    }

    @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/tablet/Header-img-tablet-1.jpg);
    @include retina {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),
     rgba(25, 28, 38, 0.2)),
    url(../images/tablet/Header-img-tablet-2.jpg);
    }
    }
   
   @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
    url(../images/Img_Main_Page.jpg);
    @include retina {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),
     rgba(25, 28, 38, 0.2)),
    url(../images/Img_Main_Page_2.jpg);
    }
    }
}

.main__article {
    
    max-width: 360px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        max-width: 696px;
    }
}


.main__article {
    font-weight: 900;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-first-color);
    font-size: 26px;
    line-height: 1.62;    
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;  
    }
}

