.main__button {
    margin: 0 auto;
    display: block;
    text-align: center;
    min-width: 200px;
    height: 50px;
    background: var(--main-btn-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--header-first-color);
    border: var(--first-page-bg);
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background: var(--btn-order-active);
    outline: none;
    }
}

.footer__button {
    // margin-left: 12px;
    // margin-right: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;

    min-width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    border: var(--first-page-bg);
    fill: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    outline: none;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background: var(--btn-order-active);
    outline: none;
}
}



.btn-modal-send {
    margin: 0 auto;
    display: block;
    text-align: center;
    min-width: 200px;
    height: 50px;
    background: var(--main-btn-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--header-first-color);
    border: var(--first-page-bg);
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background: var(--btn-order-active);
    outline: none;
}
}

