.backdrop {
    position: fixed;
    top: 0;
    left: 0;
     
    width: 100%;
    height: 100%;
    
     
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: scale;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.92, .21, .96, .26);
}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.15);
}

.modal { 
    position: absolute;
    
    top: 50%;
    left: 50%;
    padding: 40px;
    max-width: 320px;
    width: 100%;
    min-height: 609px;
    
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include mobile {
    max-width: 450px;
    width: 100%;
    max-height: 609px;
    height: auto;
    }
    @include desktop {
    max-width: 528px;
    width: 100%;
    min-height: 581px;
    height: auto;
    }
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-second-color);
    margin-bottom: 12px;
}

.close-modal {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.close-modal-icon {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    fill: inherit;
    background-color: inherit;
}

.close-modal:focus,
.close-modal:hover {
    fill: #2196F3;
    background-color: inherit;
    outline: none;
    cursor: pointer;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
}

.modal-input {
    max-width: 320px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    @include mobile {
    max-width: 370px;
    width: 100%;
    }
    @include desktop {
    max-width: 448px;
    width: 100%;
    }
}

.input-wrap {
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
}

.modal-icon {
    position: absolute;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.modal-input:focus {
    border-color: var(--accent-color);
}

.modal-input:focus+.modal-icon {
    fill: var(--accent-color);
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-top: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

}

.modal-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-text:focus {
    outline: none;
    border-color: var(--accent-color);
}

.confirmation-box {
    margin-top: 20px;
    margin-bottom: 30px;
    
    
    width: 100%;
    @include mobile {
    min-width: 346px;    
    }



    @include desktop {
    padding-left: 4px;
    padding-right: 4px;        
    }
    // padding-left: 11px;
    // padding-right: 11px;
}

.confirmation-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    @include desktop {
    font-size: 14px;
    line-height: 1.71;
    }


}

.contract-link {
    text-decoration: underline;
    color: var(--accent-color);
}

.confirmation-title span {
    width: 15px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    margin-right: 7px;
    background: #FFFFFF;

}

.check-icon {
    fill: transparent;
    align-items: center;
    justify-content: center;

}


.modal-check:checked+.confirmation-title span {
    background-color: var(--accent-color);
    border: none;
    border-radius: 2px;
    border-color: var(--accent-color);
    width: 15px;
    height: 15px;
}

.modal-check:checked+.confirmation-title .check-icon {
    fill: #ffffff;
    margin-left: 3px;
    margin-top: 4px;
    border: 0.2px;

}



