.social {
    display: flex;
    justify-content: center;
}

.social__title {
    width: 44px;
    height: 44px;
    margin-top: 16px;
    margin-right: 10px;
}

.social__title:last-child {
    margin-right: 0;
}

.social__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    fill: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 1);
    cursor: pointer;
    outline: none;
}
}



// .social-links-footer {
//     // padding-left: 70px;
// }

.social-links-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    // margin-top: 12px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 60px;
    @media screen and (min-width: 768px) {
    margin-top: 0;
}
}

.footer-social-icons {
    display: flex;
    justify-content: center;
}

.social__title {
    width: 44px;
    height: 44px;
    margin-right: 10px;

}

.footer-social-links:last-child {
    margin-right: 0;
}

.footer-icons-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    display: flex;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    fill: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 1);
    cursor: pointer;
    outline: none;
    }
}

