:root {
    --header-first-color: #FFFFFF;
    --logo-color-header: #000000;
    --logo-color-footer: #FFFFFF;
    --accent-color: #2196F3;
    --current-color: #2196F3;
    --first-page-bg: #2F303A;
    --second-page-bg: #F5F4FA;
    --main-btn-bg: #2196F3;
    --main-text-color: #757575;
    --header-second-color: #212121;
    --card-bg-color: #ffffff;
    --button-bg: #F5F4FA;
    --first-text-color: #000000;
    --btn-order-active: #188CE8;
}